.column-select-widget {
    display: table;
    width: 100%;
}
.column-select-widget > div {
    display: table-cell;
}
.column-select-widget > div:nth-child(1),
.column-select-widget > div:nth-child(3){
    width: 45%;
}
.column-select-widget > div:nth-child(2){
    width: 10%;
    vertical-align: middle;
    padding-top: 100px;
    position: relative; /* for .event-btn_save absolute position */
}
.column-select-widget > div > p {
    font-size: 24px;
    margin: 5px 0;
}
.column-select-widget .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: left;
}
.column-select-widget .dataTables_wrapper .dataTables_filter > label {
    display: block;
}
.column-select-widget .dataTables_wrapper .dataTables_filter > label > input {
    width: 100%;
    margin: 0;
}
.column-select-widget .event-btn {
    height: 25px;
    width: 25px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.column-select-widget .event-btn_add:before,
.column-select-widget .event-btn_up:before,
.column-select-widget .event-btn_down:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
}
.column-select-widget .event-btn_add:before {
    background-image: url(images/sort_both_active.png);
}
.column-select-widget .event-btn_up:before {
    top: 8px;
    background-image: url(vendor/DataTables-1.10.16/images/sort_asc.png);
}
.column-select-widget .event-btn_down:before {
    bottom: 8px;
    background-image: url(vendor/DataTables-1.10.16/images/sort_desc.png);
}
.column-select-widget .event-btn_add {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.column-select-widget .event-btn_save {
    width: auto;
    margin-top: 10px;
}

#col-selection-1 {
    width: 600px;
}